html,
body {
    height: 100%;
    margin: 0;
}

.rows {
    display: flex;
    flex: 1;
}

#grid {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: auto;
    align-items: center;
}

.square {
    border: 1px solid black;
    width: 40px;
    width: 40px;
}

#button {
    width: 100px;
    height: 40px;
    margin: 8px;
}

#button-box {
    display: flex;
    justify-content: center;
}