html,
body {
    height: 100%;
    margin: 0;
}

.row {
    display: flex;
    margin: 0;
}

#grid {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.square {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

#button {
    width: 100px;
    height: 100%;
    margin: 8px;
}

#button-box {
    display: flex;
    justify-content: center;
    height: 10%;
}