html,
body {
    height: 100%;
    margin: 0;
}

.rows {
    display: flex;
    flex: 1;
}

#grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.square {
    border: 1px solid black;
    width: 40px;
    width: 40px;
}